<div class="container">
  <app-cockpit (serverCreated)="onAddServerAdded($event)" (bpCreated)="onAddBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onEditElement()">Edit something</button>
      <button class="btn btn-danger" (click)="onDeleteElement()">Destroy</button>
      <app-server-element *ngFor="let element of serverElements" [name]="element.name"  [srvElement]="element">
        <p #contentParagraph>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>