<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedCat.imagePath" alt="{{selectedCat.name}}" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedCat.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Cat
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="toShoppingList()" style="cursor:pointer">To shopping list</a>
        </li>
        <li>
          <a  style="cursor:pointer" [routerLink]="['edit']">Edit cat</a>
        </li>
        <li>
          <a  style="cursor:pointer">Delete cat</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedCat.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let behavior of selectedCat.behaviors">
        {{behavior.name}} - {{behavior.amount}}
      </li>
    </ul>
  </div>
</div>